/* ----------- Estilos generales ------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------- Estilos header (navbar) -------------- */
.enlace-header{
    text-decoration: none;
    color: #000;
}

.fondogris{
    background: #989a9b;
    width: 100%;
    height: 150px;
}

.card{
    background: #e7e8e8;
}

.article-title{
    margin-bottom: -25px;
}